.form-inline{
	margin-top:100px;
}

.code_block{
	width:700px;
	height:auto;
}

.compiler_status {
	width:auto;
	height:30px;
	padding:5px;
	border-radius: 4px;
	border:2px solid white;
	background-color: grey;
	float:right;
}

.language {
	width:auto;
	height:30px;
	padding:5px;
	border-radius: 4px;
	border:2px solid white;
	background-color: maroon;
	color:white;
	float:right;
}
