<div id="mainContent" ng-controller="codeController">
    <div ng-repeat="codevalue in codeValue | filter:searchText">
        <h3>{{codevalue.title}}</h3>
        <div>
            <h5 class="right-align">{{codevalue.language}}</h5>
        </div>
        <div class="card-panel">
            <pre>
                <code class="Javascript">
           <h4> {{codevalue.code}}<h4>
                 </code>
            </pre>
        </div>
    </div>
</div>
</div>
            <div class="col s4">
                <div id="status" ng-controller="statusController">
                    <h5 class="center-align">Filter by status</h5>
                    <div class="card-panel">
                        <p ng-repeat="status in allStatus">
                            <input type="checkbox" id="{{status.name}}" ng-model="status.selected"/>
                            <label for="{{status.name}}">{{status.value}}</label>
                        </p>
                    </div>
                </div>
                <div id="analysis" ng-controller="analysisController">
                    <h5 class="center-align">Statical Analysis</h5>
                    <div class="card-panel">
                        <table>
                            <thead>
                                <tr>
                                    <th data-field="id">Top 5 languages used</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="codeinfo in analysisValue">
                                    <td>{{codeinfo.language}}</td>
                                    <td>{{codeinfo.users_attempted}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th data-field="id">Top 3 submission attempted</th>
                                </tr>
                            </thead>
                            <tbody ng-controller="submissionController">
                                <tr ng-repeat="subValue in submissionValue">
                                    <td>{{subValue.problem}}</td>
                                    <td>{{subValue.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th data-field="id">Number of submission per level</th>
                                </tr>
                            </thead>
                            <tbody ng-controller="levelController">
                                <tr ng-repeat="levelInfo in levelValues">
                                    <td>{{levelInfo.level}}</td>
                                    <td>{{levelInfo.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th data-field="id">Total Submission</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total Submission</td>
                                    <td>12,321</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
     <ul class="pagination center-align">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
    </div>
    </div>