<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="code_container">
                <form class="form-inline" role="form">
                    <div class="input-group" style="width:400px">
                        <input type="text" ng-model="query" class="form-control" name="q" placeholder="Search(by title, level or language)">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
                <br/>
                   
                <div data-ng-repeat="code in codes | filter:query ">
            	    <div class="well code_block">
            	        	<div class="well" style="background-color:#6e3d00;color:white">{{code.title}}
                                <span class="language">{{code.language}}</span>
                            </div>

            	        <pre>
            	        	<code>
                                <span class="compiler_status">{{code.compiler_status}}</span>
            	           		<strong>{{code.source_code}}</strong>
                            
            	            </code>
            	        </pre>
            	               
            	    </div>
               </div> 
            </div>	
        </div>  


        <div class="col-md-4">
            <div class="actWrap">
                <h3 class="well" style="margin-top:100px;">FilterBy Status</h3>
               <div class="form-group" >
                  <div class="checkbox blockDisplay" id="checkFilterGrp">
                        <label>
                          <input type="checkbox" value="Accepted" ng-model="filterString1"> Accepted
                        </label>
                        <label>
                          <input type="checkbox" value="Skipped" ng-model="filterString2"> Skipped
                        </label>
                          <label>
                          <input type="checkbox" value="Memory Time" ng-model="filterString3"> Memory/time limit exceeded
                        </label>
                          <label>
                          <input type="checkbox" value="Runtime Compilation" ng-model="filterString4"> Runtime/compilation error
                        </label>
                           <label>
                          <input type="checkbox" value="Wrong Answer" ng-model="filterString5"> Wrong answer
                        </label>
                    </div>
                </div>
            </div>
        
            <div id="InfoPart">
                <h3 class="well">Statistics</h3>
                <div class="actWrap">
                    <h3>Top 5 Languages used:</h3>
                    <table>
                    <tr ng-repeat="topLang in BestLangList">
                        <td><b>{{topLang.langName}}</b></td><td>{{topLang.count}}</td>
                    </tr>
                    </table>
                    <h3>Top 2 Submissions attempted:</h3>
                    <table>
                    <tr ng-repeat="submits in BestSubmitList">
                        <td>{{submits.title}}</td><td>{{submits.attempts}}</td>
                    </tr>
                    </table>
                    <h3>Number of submissions per level:</h3>
                    <table>
                    <tr ng-repeat="submitOverview in BestSubmitLevelList">
                        <td><b>{{submitOverview.level}}</b></td><td>{{submitOverview.submission}}</td>
                    </tr>
                    </table>
                    <h3>Total Submissions: {{totalCount}}</h3>
                </div>
            </div>
        </div>    
    </div>
</div>
     



